.scrollme{
    float: left;
    align-content: left;
    color: black;
    background-color: white;
    width: 100%;
    margin-top:20px;
     display: inline-block; 
    overflow-x: scroll;
 
    overflow: auto;
              overflow-y: hidden;
              white-space: nowrap; 
  
   
  }
  .hov{

    
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: white;
        color: black;
        
        /* float: left; 
        width: 100px; 
        height: auto;
         top: 2px;
          position: absolute; */

  }
  .hov:hover{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  background: #CCE500;
 
}
#footerme{

  font-size: 12px;

};
#footerme:hover{
  color: #CCE500;
  font-size: 12px;
  
};
