.circleBase {
    border-radius: 50%;
  }

.type1 {
    width: 85px;
    height: 85px;
    background: #CCE500;;
    
}
.circleBasedesk {
    border-radius: 50%;
    float: left;
    left:120px;
  }

.type1desk {
    width: 85px;
    height: 85px;
    float: left;
    left:110px;
    background: red;
    
}