
.bind{
  float: left;
  align-content: left;
  color: black;
  background-color: white;
  width: 100%;
  margin-top:20px;
  /* display: inline-block; 
  overflow-x: scroll;
  overflow: auto;
            overflow-y: hidden;
            white-space: nowrap; */

 
}



.bind:hover{
    color: #8EC44A;
} 



